__pycache__
.idea
.vscode
.DS_Store
input
output
.env
ocr_crop
resized_for_rcnn
rotated_imgs
kaggle/weights.hdf5
kaggle/new_weights_output.hdf5.zip
kaggle/weights-file.hdf5
kaggle/new_weights_output.hdf5
kaggle/weights-file.h5
kaggle/water_meters.keras
kaggle/Water counter.jpg
kaggle/model_final.pth
