pyTelegramBotApi
opencv-python-headless
opencv-python
qrcode
tensorflow
tensorflow-cpu
insightface
onnxruntime
segmentation_models
flask
numpy
Pillow
opendatasets
keras
scipy
deskew
typing
pyyaml
pycocotools